{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">about u</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to ecommerce</p>
        </div>
    </div>
</header>

<div class="containere">
    <div class="row">
        <center>
            <div class="col-8">
                
<p align="justify">

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices dignissim risus, vel feugiat tellus tempus
                    id. Pellentesque a consectetur risus. Vestibulum cursus sollicitudin nisl, finibus ullamcorper nulla ultrices et. Nullam
                    faucibus vitae nisl ut ultrices. Aliquam et dictum ante, eget placerat nisl. Nulla tincidunt accumsan ligula, vel
                    fermentum turpis ultricies fringilla. Praesent auctor posuere tellus quis molestie. Duis bibendum, arcu ut rhoncus
                    tempor, metus nisi blandit mi, sit amet porttitor leo lectus ac purus. Suspendisse eget tellus ex. Sed quis arcu ipsum.
                    Donec eget urna lacus. Nunc consequat tristique dapibus. Mauris molestie sem et lorem interdum, id sagittis diam
                    ultrices. Nunc in sagittis tellus, vitae efficitur eros. Quisque non ex at odio fringilla pretium. Nulla eu sapien sit
                    amet justo suscipit feugiat in vel elit.
                    <br/><br/>
                    
                    Sed posuere, enim ac interdum pulvinar, ipsum libero tincidunt justo, tincidunt sagittis ex massa ac diam. Curabitur ac
                    tristique ante, rutrum commodo neque. Donec pharetra arcu nulla, et euismod arcu posuere vitae. Nunc euismod nulla at
                    diam consequat, sit amet condimentum purus auctor. Nullam lacinia rutrum lectus, sit amet efficitur leo convallis nec.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ac velit augue. Nunc laoreet malesuada ante.
                    Phasellus neque eros, dapibus at gravida sed, condimentum a sem. Mauris pretium eleifend orci. Duis at neque nec tellus
                    sagittis lobortis. Aliquam erat volutpat. Praesent at nunc non nulla posuere feugiat sed et metus. Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit. Vestibulum fringilla laoreet turpis et finibus.
                    <br /><br />
                    
                    Aliquam enim elit, dignissim dapibus luctus id, dapibus non dui. Donec sagittis neque id dolor sollicitudin hendrerit.
                    Fusce et sapien non elit facilisis tristique vitae sit amet enim. Nunc luctus odio magna, in commodo enim feugiat ac.
                    Aenean in libero justo. Suspendisse quam nisl, fermentum ac aliquam iaculis, blandit ut magna. Aliquam feugiat tempus
                    magna quis rhoncus. Nam semper justo sem, ac dapibus massa placerat quis. Aenean malesuada finibus justo. Integer
                    pulvinar eros tempor arcu maximus, vestibulum pharetra orci pellentesque. Maecenas nec ipsum velit.</p>
                    <br /><br />
                
                
            </div>
        </center>
    </div>
</div>

{% endblock%}